.knap-pack--item {
    display:flex;
    background-image: radial-gradient( circle closest-side, #7f5f41, #877665 );
    align-items: center;
    justify-content: center;
    border: dashed 1px #c7b19b;
    width: 48px;
    height: 48px;
    padding: 5px;
    font-size: 12px;
}
.knap-pack--item-value {
    display:flex;
    justify-content: flex-start;
    color: #67FF3C;
    text-shadow: 1px 1px #000;
    flex-direction: column;
    height: 100%;
}

.knap-pack--item-weight {
    display:flex;
    justify-content: flex-end;
    color: #fba0a0;
    text-shadow: 1px 1px #000;
    flex-direction: column;
    height: 100%;
}

.knap-sack {
    width: 200px;
    display: flex;
    flex-wrap: wrap;
}

.world-items {
    display:flex;
    flex-wrap: wrap;
}

.world-items.knapsack {
    width: 240x;
}

.world-items--wrapper {
    display: inline-block;
    padding: 10px 15px 15px 15px;
    background-color: #7a6045;
    border: solid 1px black;
    box-shadow: 2px 2px 10px #000;
}

.world-items--inner-box {
    height: 200px;
    overflow: scroll;
    box-shadow: inset 0 0 10px #000000;
    border: solid 1px black;
}
.world-items--inner-box.knapsack {
    height: 540px;
}

.world-items--wrapper.knapsack {
    width: 303px;
    margin: 0 10px;
}

.world-items--wrapper-title {
    text-align: center;
    margin-bottom: 5px;
    font-size: 24px;
    color: #FFF40B;
    -webkit-text-stroke: 1px #b1aa23;
}

.world-items--wrapper-bottom {
    margin-bottom: 5px;
    font-size: 18px;
    color: #FFF40B;
    -webkit-text-stroke: 1px #b1aa23;
}

.App {
    display: flex;
    margin: 20px 135px;
}

.main-pane {
    display:flex;
    flex:1;
    flex-direction: column;
    justify-content: space-between;
}

.stat-boxes {
    height: 150px;
    display: flex;
}

.generation-button {
    font-size: 1.5rem;
    text-align: center;
    height: 20px;
    color: yellow;
    padding: 5px;
    background-color: #7f5f41;
    border: solid 1px black;
}

.generation-button:hover {
    background-color: #B8956F;
}


.best-item-wrapper {
    flex: 1;
    display:flex;
    align-items: center;
    justify-content: center;
}

.best-item-content {
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 100%;
}

.generations {
    width: 300px;
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}
.generations .world-items {
    flex-wrap: nowrap;
    flex-direction: column;
}

.generations-container {
    overflow: scroll;
    border: solid;
}

.our-weight {
    color: #72efbd;
    -webkit-text-stroke: 1px #009e94;
}

.stats { flex: 1;}

.stats .best-item-wrapper {
    color: #FFF40B;
    display: flex;
    flex-direction: column;
}

.improvement {
    color: #4eded5;
    font-weight: bold;
}

.input-boxes{
    display: flex;
    justify-content: space-around;
}

input[type="number"] {
    text-align: right;
    border: none;
    color: #e9e000;
    font-family: VT323;
    font-size: 24px;
    background-color: #8a7563;
}

.start-button {
    background: #7f5f41;
    display: inline-block;
    position: relative;
    text-align: center;
    font-size: 30px;
    padding: 20px;
    text-decoration: none;
    color: #e9e000;
    box-shadow: inset -4px -4px 0px 0px black;
}
.start-button:hover,
.start-button:focus {
     background: #8e7460;
     box-shadow: inset -5px -5px 0px 0px black;
 }

.start-button:active {
     box-shadow: inset 4px 4px 0px 0px black;
 }

.start-button:before,
.start-button:after {
     content: '';
     position: absolute;
     width: 100%;
     height: 100%;
     box-sizing: content-box;
 }

.start-button:before {
     top: -4px;
     left: 0;
     border-top: 4px black solid;
     border-bottom: 4px black solid;
 }

button.start-button:after {
     left: -6px;
     top: 1;
     border-left: 4px black solid;
     border-right: 4px black solid;
 }
